<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="java_core_api.api_java_core.mapper.BandeiraMapper">

    <select id="findById" resultMap="bandeiraResultMap">
        SELECT * FROM cadastro.bandeira WHERE id = #{id}
    </select>

    <select id="listarTodas" resultMap="bandeiraResultMap">
        SELECT * FROM cadastro.bandeira
    </select>

    <insert id="salvar" parameterType="java_core_api.api_java_core.domain.Bandeira" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cadastro.bandeira (descricao, hash_imagem, caminho_imagem)
        VALUES (#{descricao}, #{hashImagem}, #{caminhoImagem});
    </insert>


    <resultMap id="bandeiraResultMap" type="java_core_api.api_java_core.domain.Bandeira">
        <id property="id" column="id"/>
        <result property="descricao" column="descricao"/>
        <result property="hashImagem" column="hash_imagem"/>
        <result property="caminhoImagem" column="caminho_imagem"/>
    </resultMap>


</mapper>
