<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="java_core_api.api_java_core.mapper.FabricanteMapper">

    <select id="listarTodas" resultType="java_core_api.api_java_core.domain.Fabricante">
        SELECT * FROM pulse.fabricante
    </select>

    <insert id="salvar" parameterType="java_core_api.api_java_core.domain.Fabricante" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pulse.fabricante (nome, cnpj)
        VALUES (#{nome}, #{cnpj});
    </insert>

    <update id="atualizar" parameterType="java_core_api.api_java_core.domain.Fabricante">
        UPDATE pulse.fabricante
        SET nome = #{nome}, cnpj = #{cnpj}
        WHERE id = #{id};
    </update>

    <delete id="deletar" parameterType="long">
        DELETE FROM pulse.fabricante WHERE id = #{id};
    </delete>

    <select id="buscarPorId" resultType="java_core_api.api_java_core.domain.Fabricante">
        SELECT * FROM pulse.fabricante WHERE id = #{id};
    </select>

</mapper>