<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="java_core_api.api_java_core.mapper.ProdutoItemInfoFiscalMapper">

    <insert id="upsertInfoFiscal" parameterType="java_core_api.api_java_core.domain.ProdutoItemInfoFiscal">
        INSERT INTO cadastro.produto_item_info_fiscal (
        id_produto_item,
        id_mercado,
        cst_icms,
        valor_total_icms,
        cst_pis,
        valor_pis,
        cst_cofins,
        valor_cofins,
        data_atualizacao
        ) VALUES (
        #{produtoItem.id},
        #{mercado.id},
        #{cstIcms},
        #{valorTotalIcms},
        #{cstPis},
        #{valorPis},
        #{cstCofins},
        #{valorCofins},
        #{dataAtualizacao}
        )
        ON CONFLICT (id_produto_item, id_mercado)
        DO UPDATE SET
        cst_icms = EXCLUDED.cst_icms,
        valor_total_icms = EXCLUDED.valor_total_icms,
        cst_pis = EXCLUDED.cst_pis,
        valor_pis = EXCLUDED.valor_pis,
        cst_cofins = EXCLUDED.cst_cofins,
        valor_cofins = EXCLUDED.valor_cofins,
        data_atualizacao = EXCLUDED.data_atualizacao
    </insert>

</mapper>
