<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="java_core_api.api_java_core.mapper.UsuarioMapper">

    <select id="findByUsername" parameterType="String" resultType="java_core_api.api_java_core.domain.Usuario">
        SELECT * FROM seguranca.usuarios WHERE email = #{email}
    </select>


    <select id="obtemUserPorId" parameterType="long" resultType="java_core_api.api_java_core.domain.Usuario">
        SELECT * FROM seguranca.usuarios WHERE id = #{id}
    </select>


    <insert id="insertUsuario" parameterType="java_core_api.api_java_core.domain.Usuario">
        INSERT INTO seguranca.usuarios (nome ,email, senha, role)
        VALUES ( #{nome}, #{email}, #{senha}, #{role})
    </insert>

</mapper>
